/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}


/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #0074D9;
  color: white;
}
/*styling the heading*/
h1{
  font-family: verdana, arial, sans-serif;
}


/*styling the buttons*/
button{
  padding: 10px;
border-radius: 20px;
  
}


/*styling the game buttons*/
#gameButtonArea > button{
  border-radius: 100%;
  width: 200px;
  height:200px;
  margin:2px;
}

.hidden{
  display: none;
}

#button1 {
    background: lightgreen;
}
#button2 {
    background: pink;
}
#button3 {
    background: orange;
}
#button4 {
    background: #C3B1E1;
}

/*chaning the colors when selected*/
#button1:active, #button1.lit{
  background: green;
}
#button2:active, #button2.lit{
  background: #FF69B4;
}
#button3:active, #button3.lit{
  background: #d47400;
}
#button4:active, #button4.lit{
  background: #431c53;
}



/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}